

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <style type="text/css">
   body { background: #FFCC00 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">KV FOOD</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Your Cart
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/yourcart">View Your Cart</a>
          <a class="dropdown-item" href="/clearcart">Clear Shopping Cart</a>
        </div>
      </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          System Orders
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/alltransactions">All Transactions</a>
          <a class="dropdown-item" href="/allsystemorders">All System Orders</a>
        </div>
      </li>



      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          System Queue
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/viewqueue">View All System Queue</a>
          <a class="dropdown-item" href="/dispatchdriver">Dispatch Driver</a>
          <a class="dropdown-item" href="/dispatchqueue">Dispatch Queue</a>
        </div>
      </li>

    </ul>
  </div>
</nav>


<div class="container maincontainerindex">
  <div class="row mt-5">
    <div class="col-sm"></div>
    <div class="col-sm shadow-lg"><img src="https://i.ibb.co/C8QV3cQ/tom-yum-nodots.png"></div>
    <div class="col-sm"></div>
  </div>
</div>

<div class="container pb-5"></div> 
<div class="container bg-light ml-10 mr-10 rounded shadow-sm pt-1 pb-1 pl-4 mb-3 bg-white rounded">
<div class="container p-1">
<h3>Sign Up Here!</h3>
</div></div>



<div class="container bg-light ml-10 mr-10 rounded shadow-sm pt-3 pb-1 pl-4 mb-3 bg-white rounded">
<form method="post">
  <div class="form-group pt-1">
    <label for="exampleFormControlInput1">Email address </label>

    <input type="username" class="form-control" name="username" placeholder="name@example.com">
  </div><p class="text-danger inline small">{{ .Username}}</p>

    <div class="form-group">
    <label for="exampleFormControlInput1">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Enter your password here...">
  </div><p class="text-danger inline small">{{ .Password}}</p>
    <div class="form-group">
    <label for="exampleFormControlInput1">First Name</label>
    <input type="text" class="form-control" name="firstname">
  </div><p class="text-danger inline small">{{ .FirstName}}</p>
    <div class="form-group">
    <label for="exampleFormControlInput1">Last Name</label>
    <input type="text" class="form-control" name="lastname">
  </div><p class="text-danger inline small">{{ .LastName}}</p>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Type of Account</label>
    <select class="form-control" name="role">
      <option>superuser#1</option>
      <option>Customer Service Officer</option>
      <option>Dispatch Supervisor</option>
      <option>Delivery Partner</option>
      <option>user</option>
    </select>
  </div>

      <input type="submit">
      <div class ="container pb-3"></div>

</form>

</div>
</div>

</body>
</html>